
body {
    background-color: black;
    color: white;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}
